---
import { PAGES } from "@lib/constants";
import { createLinks, makeUrlFriendlyString } from "@lib/utils";
import BaseLayout from "@layouts/BaseLayout.astro";
import LinkGrid from "@components/general/LinkGrid.astro";

// The title of the page
const TITLE = "Resources";

// The url friendly title of the page
const URL_TITLE = makeUrlFriendlyString(TITLE);

// Get the links
const links = createLinks(Object.keys(PAGES[TITLE]), `/${URL_TITLE}/`);
---

<BaseLayout title={TITLE}>
	<div class="wrapper">
		<div class="content">
			<h1 class="text" id={URL_TITLE}>{TITLE}</h1>
			<p class="text">
				Click on the links below to view the resource for learning
				Singapore Sign Language (SgSL)!
			</p>
			<div class="links">
				<LinkGrid {links} />
			</div>
		</div>
	</div>
</BaseLayout>

<style>
	.wrapper {
		display: flex;
		flex-grow: 1;
		justify-content: center;
		align-items: center;
		text-align: center;
	}

	.content {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		max-width: 70%;
	}

	p {
		margin: 0.5em 0;
	}

	.links {
		margin: 1em;
		width: 100%;
	}

	.links :global(a) {
		font-size: 1.25em;
		padding: 1em;
	}
</style>
