---
import type { MarkdownLayoutProps } from "astro";
import BaseLayout from "./BaseLayout.astro";
import { makeUrlFriendlyString } from "@lib/utils";

// The type of the props
type Props = MarkdownLayoutProps<{
	title: string;
	description?: string;
}>;

// Obtain the frontmatter and headings
const { frontmatter, headings } = Astro.props;

// Get the title
const title = frontmatter.title;

// Get the description
const description = frontmatter.description ?? `The SgSL sign for '${title}'.`;
---

<BaseLayout {title} {headings} {description}>
	<div class="wrapper">
		<h1 id={makeUrlFriendlyString(title)}>
			{title}
		</h1>
		<slot />
	</div>
</BaseLayout>

<style>
	/* Styling for the tables in Markdown */
	:global(table, th, td) {
		border: 1px solid black;
		border-collapse: collapse;
	}

	:global(th, td) {
		padding: 0.5em;
	}
</style>
